<!doctype html>

<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/Blog">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Restaurant website with table booking form">
    <meta property="og:site_name" content="Lambda Restaurant">
    <meta property="og:url" content="https://fake-lambda-restaurant.com">
    <meta property="og:title" content="Welcome to Lambda Restaurant">
    <meta property="og:image" content="https://fake-lambda-restaurant.com/favicon.png">
    <meta name="author" content="Sebastian Kopiczko">
    <link rel="author" href="https://www.linkedin.com/in/sebastian-kopiczko/">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
    <!-- div.container>(div.landing>(header.header>a.logo+img.logo__img+nav.nav>ul.nav__menu>li.menu__item*7>a)+(section.landing-page>h1.landing-page__heading+div.landing__buttons>a.page-button*2))+(section.
        >div.section-content>h2.section-content__heading+p.section-content__text)+(section.ingredients>div.section-content.bg-shadow--dark>h2.section-content__heading+p.section-content__text+img.ingredients__img*3)+(section.menu>div.section-content>h2.section-content__heading+ul.menu__category>li.menu__item*4)+(section.review>div.section-content.bg-shadow--dark>h2.section-content__heading+p.section-content__text)+(section.book-table>img.book-table__img*2+div.section-content>h2.section-content__heading+p.section-content__text)+(footer.footer>(div.section-content>h2.section-content__heading+p.section-content__text)+(div.section-content>h2.section-content__heading+div.footer__opening-hours)+(div.section-content>div.footer__location+div.footer__socials)) -->
    <div itemscope itemtype="http://schema.org/Restaurant" class="container p-0 mw-100">
        <div class="d-flex flex-column justify-content-between landing pb-5 pb-md-10">
            <header class="header px-1 py-2 w-100 px-lg-2 py-lg-4">
                <div class="container d-flex flex-row align-items-center justify-content-between">
                    <a href="" class="header__logo logo">
                        <span class="logo__text">Lambda</span>
                    </a>
                    <nav itemscope itemtype="http://schema.org/SiteNavigationElement" class="nav">
                        <button aria-label="Open page navigation" aria-haspopup="true" title="Open" id="menuBtn" class="menu__button p-0">
                            <span class="line line01"></span>
                            <span class="line line02"></span>
                            <span class="line line03"></span>
                        </button>
                        <ul id="navMenu" class="position-fixed w-100 p-2 p-md-0 h-100 nav__menu menu">
                            <li class="menu__item">
                                <a href="javascript:void(0)">Home</a>
                            </li>
                            <li class="menu__item">
                                <a href="#about">About</a>
                            </li>
                            <li class="menu__item">
                                <a href="#ingredients">Ingredients</a>
                            </li>
                            <li class="menu__item">
                                <a href="#menu">Menu</a>
                            </li>
                            <li class="menu__item">
                                <a href="#reviews">Reviews</a>
                            </li>
                            <li class="menu__item">
                                <a href="#reservations ">Reservations</a>
                            </li>
                            <li class="menu__item">
                                <a class="" href="https://www.facebook.com/">
                                    <span data-icon="facebook" aria-hidden="true" class="social-icon icon icon--fb">Facebook</span>
                                </a>
                                <a href="https://www.youtube.com/">
                                    <span data-icon="youtube" aria-hidden="true" class="social-icon icon icon--yt">Youtube</span>
                                </a>
                                <a href="https://www.twitter.com/">
                                    <span data-icon="twitter" aria-hidden="true" class="social-icon icon icon--tw">Twitter</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <h1 class="landing__heading text-center mx-auto my-3 px-2">the right ingredients for the right food</h1>
            <div class="d-flex justify-content-around mx-auto landing__buttons">
                <a href=" #reservations" class="page-button page-button--black px-3 py-1 mx-1">book a table</a>
                <a href="#menu" class="page-button page-button--white px-3 py-1 mx-1">see the menu</a>
            </div>
        </div>
        <section id="about" class="about">
            <div class="d-flex flex-column mx-md-auto px-3 py-4 section-content">
                <h2 class="about__heading text-center text--gold ">Just the right food</h2>
                <p class="about__text">If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our customers coming back
                    for more. Perfect materials and freshly baked food, delicious Lambda cakes, muffins, and gourmet coffees
                    make us hard to resist! Stop in today and check us out!</p>
                <img class="mx-auto" alt="Chef photo and his signature" src=<%=require( './assets/img/cook.png') %>>
            </div>
            <div class="about__photo ">
                <img alt="Grilled meat and veggies" src=<%=require( './assets/img/dish.png') %>>
            </div>
        </section>
        <section id="ingredients" class="ingredients">
            <div class="d-flex flex-column mx-md-auto px-3 py-4 section-content">
                <h2 class="ingredients__heading text-center">Fine ingredients</h2>
                <p class="ingredients__text" itemscope itemtype="http://schema.org/Person ">If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our customers coming back
                    for more. Perfect materials and freshly baked food, delicious Lambda cakes, muffins, and gourmet coffees
                    make us hard to resist! Stop in today and check us out! -
                    <a href="https://example.net/author " class=" " itemprop="name=">Mark Johnson</a>
                </p>
                <img alt="Minatures of ingredients" class="ingredients__img" src=<%=require( './assets/img/ingredients.png') %>>
            </div>
        </section>
        <section id="menu" class="menu" itemscope itemtype="http://schema.org/Menu ">
            <div class="d-flex flex-column px-3 py-4 section-content">
                <div class="menu__category category mb-2" itemscope itemtype="http://schema.org/MenuSection ">
                    <h2 class="category__heading text--gold text-center">Appetisers</h2>
                    <ul class="category__list">
                        <li itemprop="offers" itemscope itemtype="http://schema.org/MenuItem" class="pb-1 mb-2 menu__item dish">
                            <div class="d-flex flex-row dish__heading text--gold">
                                <span itemprop="name" class="mr-auto dish__name ">Tzatsiki</span>
                                <span class="dish__price" itemprop="priceCurrency " content="USD ">$</span>
                                <span itemprop="price" content="3.99 ">3.99</span>
                            </div>
                            <div itemprop="description " class="dish__description ">Refreshing traditional cucumber and garlic yoghurt dip.</div>
                        </li>
                        <li itemprop="offers" itemscope itemtype="http://schema.org/MenuItem" class="pb-1 mb-2 menu__item dish">
                            <div class="d-flex flex-row dish__heading text--gold">
                                <span itemprop="name" class="mr-auto dish__name ">Tzatsiki</span>
                                <span class="dish__price" itemprop="priceCurrency " content="USD ">$</span>
                                <span itemprop="price" content="3.99 ">3.99</span>
                            </div>
                            <div itemprop="description " class="dish__description ">Refreshing traditional cucumber and garlic yoghurt dip.</div>
                        </li>
                        <li itemprop="offers" itemscope itemtype="http://schema.org/MenuItem" class="pb-1 mb-2 menu__item dish">
                            <div class="d-flex flex-row dish__heading text--gold">
                                <span itemprop="name" class="mr-auto dish__name ">Tzatsiki</span>
                                <span class="dish__price" itemprop="priceCurrency " content="USD ">$</span>
                                <span itemprop="price" content="3.99 ">3.99</span>
                            </div>
                            <div itemprop="description " class="dish__description ">Refreshing traditional cucumber and garlic yoghurt dip.</div>
                        </li>
                    </ul>
                </div>
                <div class="menu__category category" itemscope itemtype="http://schema.org/MenuSection ">
                    <h2 class="category__heading text--gold text-center">Salads</h2>
                    <ul class="category__list">
                        <li itemprop="offers" itemscope itemtype="http://schema.org/MenuItem" class="pb-1 mb-2 menu__item dish">
                            <div class="d-flex flex-row dish__heading text--gold">
                                <span itemprop="name" class="mr-auto dish__name ">Tzatsiki</span>
                                <span class="dish__price" itemprop="priceCurrency " content="USD ">$</span>
                                <span itemprop="price" content="3.99 ">3.99</span>
                            </div>
                            <div itemprop="description " class="dish__description ">Refreshing traditional cucumber and garlic yoghurt dip.</div>
                        </li>
                        <li itemprop="offers" itemscope itemtype="http://schema.org/MenuItem" class="pb-1 mb-2 menu__item dish">
                            <div class="d-flex flex-row dish__heading text--gold">
                                <span itemprop="name" class="mr-auto dish__name ">Tzatsiki</span>
                                <span class="dish__price" itemprop="priceCurrency " content="USD ">$</span>
                                <span itemprop="price" content="3.99 ">3.99</span>
                            </div>
                            <div itemprop="description " class="dish__description ">Refreshing traditional cucumber and garlic yoghurt dip.</div>
                        </li>
                        <li itemprop="offers" itemscope itemtype="http://schema.org/MenuItem" class="pb-1 mb-2 menu__item dish">
                            <div class="d-flex flex-row dish__heading text--gold">
                                <span itemprop="name" class="mr-auto dish__name ">Tzatsiki</span>
                                <span class="dish__price" itemprop="priceCurrency " content="USD ">$</span>
                                <span itemprop="price" content="3.99 ">3.99</span>
                            </div>
                            <div itemprop="description " class="dish__description ">Refreshing traditional cucumber and garlic yoghurt dip.</div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="review" class="review">
            <div class="d-flex flex-column mx-md-auto px-3 py-4 section-content">
                <h2 class="review__heading text-center">Guest Reviews</h2>
                <p class="review__text ">More than 450 reviews If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our
                    customers coming back for more. Perfect materials and freshly baked food, delicious Lambda cakes, muffins,
                    and gourmet coffees make us hard to resist! Stop in today and check us out!
                </p>
            </div>
        </section>
        <section id="reservations" class="reservation">
            <div class="d-flex flex-column mx-md-auto px-3 pt-4 pb-3 section-content">
                <img class="reservation__photo" alt="Main meal and dessert" src=<%=require( './assets/img/reservation-img.png') %>>

                <h2 class="reservation__heading text-center text--gold">Just the right food</h2>
                <p class="reservation__text">If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our customers coming back
                    for more. Perfect materials and freshly baked food. Delicious Lambda cakes, muffins, and gourmet coffees
                    make us hard to resist! Stop in today and check us out! Perfect materials and freshly baked food.
                </p>
                <form method="post" action="" class="reservation__form pt-2">
                    <p>
                        <label class="text--gold" for="customer-name">Name</label>
                        <input type="text " name="customer " id="customer-name " required placeholder="name">
                    </p>
                    <p>
                        <label class="text--gold" for="customer-email ">E-mail</label>
                        <input type="email" name="email" id="customer-email" required placeholder="e-mail">
                    </p>
                    <p>
                        <label class="text--gold" for="reservation-date">Date</label>
                        <input type="date" name="date" id="reservation-date" placeholder="date">
                    </p>
                    <p>
                        <label class="text--gold" for="reservation-table">Choose table</label>
                        <select name="table" id="reservation-table" placeholder="table">
                            <option value="2 ">2 people</option>
                            <option value="4 ">4 people</option>
                            <option value="6 ">6 people</option>
                            <option value=" ">more than 6 people</option>
                        </select>
                    </p>
                    <p class="pt-4">
                        <button name="submit" type="submit" id="reservation-submit" class="d-block mx-auto px-5 py-2 reservation__button">Book now</button>
                    </p>
                </form>
            </div>

        </section>
        <footer class="footer w-100" itemscope>
            <div class="container d-flex flex-column flex-md-row justify-content-md-around px-3 py-4">
                <div class="footer__item mb-0">
                    <h2 class="footer__heading mb-0">About us</h2>
                    <p itemprop="description " class="footer__text">Lambda's new and expanded Chelsea location represents a truly authentic Greek patisserie, featuring breakfasts
                        of fresh croissants and steaming bowls of café. Lamda the best restaurant in town.</p>
                </div>
                <div class="footer__item mb-2">
                    <h2 class="footer__heading mb-0">Opening Hours</h2>
                    <div class="footer__opening-hours opening-hours m-0">
                        <div class="opening-hours__item ">Mon-Thu: 7:30 am - 9:00 pm</div>
                        <div class="opening-hours__item ">Fri-Sun: 9:00 am - 11:00 pm</div>
                        <meta itemprop="openingHours " content="Mo-Th 07:30-21:00 " />
                        <meta itemprop="openingHours " content="Fr-Su 09:00-23:00 " />
                    </div>
                </div>
                <div class="footer__item">
                    <h2 class="footer__heading mb-0">Our Location</h2>
                    <div class="footer__address">
                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress ">
                            <div itemprop="streetAddress ">2000 Capitol Ave</div>
                            <div>
                                <span itemprop="addressLocality">Sacramento</span>
                                <span itemprop="addressRegion">CA</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center footer__author">&copy; 2017 Sebastian Kopiczko</div>
        </footer>
    </div>
</body>

</html>